
html, body, #container{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e7ecf0;
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
